{% extends 'base.html.twig' %}

{% block title %}Page Formulaire{% endblock %}

{% block body %}
<section>
    <p class="fildar">Immo-Dev / <a href="{{path("home")}}">accueil /</a><span class="span"> connexion</span></p>
    <div class="conteneur_connexion">
        <div class="connexion">
            <p class="parconnexion">Vous tentez d'accéder à un contenu qui nécessite que vous soyez connecté(e).</p>
            <h1><img src="images/fleche_bas.png" alt="fleche bas">Se connecter</h1>
            <form action="" method="POST" class="bloc_connexion">
                <input type="email" placeholder="Email" name="mail" required>
                <input type="password" placeholder="Mot de passe" name="mdp" required >
                <input type="submit" id='submit' value='LOGIN' >
            </form>
        </div>
        <span class="span2"></span>
        <div class="creation_compte">
            <h2>Vous n'avez pas de compte?</h2>
            <button class="switchbutton" type="button">Créer un compte</button>
        </div>
    </div>
    <div id="form_button">
        <div class="conteneur_form">
            <div class="formulaire">
                {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
    <script src="js/button_showform.js"></script><!-- utilisation de js pour faire apparaître le formulaire -->
</section>
{% endblock %}

