{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/../css/style.css">
{% endblock %}

{% block title %}Edit Biens{% endblock %}

{% block body %}
    <p class="fildar">Immo-Dev / <a href="{{path("home")}}">accueil /</a><span class="span"> modifier-bien</span></p>
    <h1>Modifier les biens</h1>

    <div class="lien">
        {{ include('biens/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('biens_index') }}">Retour à la liste</a>

        {{ include('biens/_delete_form.html.twig') }}
    </div>
{% endblock %}
