{% extends 'base.html.twig' %}

{% block title %}Modifier Calendrier{% endblock %}

{% block body %}
    <h1>Modifier Calendrier</h1>

    {{ include('calendrier/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('calendrier') }}">retour à la liste</a>

    {{ include('calendrier/_delete_form.html.twig') }}
{% endblock %}
