{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block title %}Nouveau Rdv{% endblock %}

{% block body %}
<p class="fildar">Immo-Dev / <a href="{{path("home")}}">accueil /</a><span class="span"> nouveau-rdv</span></p>
    <h1>Créer un nouveau Rdv</h1>

    {{ include('calendrier/_form.html.twig') }}

    <a href="{{ path('calendrier') }}">Retour à la liste</a>
{% endblock %}
