{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}


{% block body %}
<p class="fildar">abri-nature-immobilier / <a href="{{path("home")}}">accueil /</a><span class="span"> rdv</span></p>


{% endblock %}
