{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
  <p class="fildar">Immo-dev / <a href="{{path("home")}}">accueil /</a><span class="span"> rdv</span></p>

  {# Le dump va me servir à voir les données de mon data en table sous forme json #}
  {# {{dump(data)}} #}

  <div id="calendrier"></div>

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" 
  integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
  
  <script src="js/calendrier.js"></script>

{% endblock %}
