{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block title %}Politique confidentielle{% endblock %}

{% block body %}

<h1>Introduction</h1>
<p>le cadre de son activité, la société [Société], dont le siège social est situé au [Adresse du siège social],
est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". 
[Société] attache une grande importance au respect de la vie privée, 
et n’utilise que des donnes de manière responsable et confidentielle et dans une finalité précise.</p> 

<h1>Données personnelles</h1>
<p>Sur le site web [Adresse du site], il y a 2 types de données susceptibles d’être recueillies :</p>

<ul>
<li>Les données transmises directement</li>
<p>Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. 
Sont obligatoires dans le formulaire de contact le champs « prénom et nom », « entreprise ou organisation » et « email ».</p>
<li>Les données collectées automatiquement</li>
<p>Lors de vos visites, une fois votre consentement donné, 
nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, 
la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.</p>
<li>Utilisation des données</li>
Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par [Société], responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.
</ul>
Base légale
Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.

Durée de conservation
Les données seront sauvegardées durant une durée maximale de 3 ans.

Cookies
Voici la liste des cookies utilisées et leur objectif :

Cookies Google Analytics (liste exhaustive) : Web analytics
[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.
Vos droits concernant les données personnelles
Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.

Contact délégué à la protection des données
[Nom du contact] - [Idéalement au moins 2 façons de le contacter]

{% endblock %}
