{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}

<div class="container my-4">
    <h1>Liste des évènements</h1>
    <hr>
    <table>

        <tr>
            <th>Utilisateurs</th>
            <th>Adresse</th>
            <th>Téléphone</th>
        </tr>

        {% for u in users %}

        <tr>
            <td>{{ u.nom }}</td>
        </tr>

        {% end for %}

       
        <tr>
            <td>azerty</td>
            <td>azerty</td>
            <td>azerty</td>
        </tr>

    </table>

</div>
{% endblock %}
